.section-products{
    width:100%;
margin: 0;
height:100vh;

}
.section-products .container{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

.section-products .h2{
margin:10px 90px;
}

.section-products .pro{
    width: calc(100% / 5 - 20px);
    height:fit-content;
    position: relative;
}
.section-products .pro .img {
    height: 250px;
    background-color: white;
}
.section-products .pro img{
    width:100%;
}
.section-products .details{
    display:flex;
    justify-content:space-between;
    padding:10px;
    font-weight:bold;
}
.section-products .stars{
    padding:10px;

}.section-products .stars svg{
    color:#0b8bda;
    margin:1px;
}
.section-products .btn{
    background-color: #0b8bda;
    font-size: 18px;
    color: inherit;
    padding: 0px 20px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    font-weight:bold;
}

.heart{
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 20px;
}
.heart svg {
    transition: 0.2s;
}
.heart:hover svg {
    color: #ff5252;
}
.section-products .heart:hover{
    box-shadow: 0px 2px 5px rgba(180, 0, 0, 0.61);
}


/* small */
@media (width <= 768px) {
    .section-products .h2{
        margin:0px 90px;
    }
    .section-products .container .pro{
        margin:50px 50px;
    }
  }
  /* medium */
  @media (width <= 992px){
    .section-products .container .pro{
     margin:50px 80px;

}

  }
  /* large */
  @media (width <= 1200px) {
  }
  
